body {
	background: url(../img/home/background-home-desktop.jpg) center no-repeat;
	background-size: cover;
	height: 100vh;
}
nav a:nth-child(1) {
	border-bottom: solid 3px var(--light);
}
nav a:not(:nth-child(1)) {
	transform: translate(0, 0.95rem);
}

nav a:not(:nth-child(1)):after {
	grid-column: 1/3;
	display: block;
	content: "";
	border-bottom: solid 3px var(--light);
	transform: scaleX(0);
	transition: transform 125ms ease-in-out;
}
nav a:not(:nth-child(1)):hover:after {
	transform: scaleX(1);
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 200px;
	width: 77%;
	margin: auto;
	justify-content: space-between;
	align-items: flex-end;
	justify-items: flex-end;
}
.main-text h1 {
	margin: 3rem 0;
}
.circle {
	font-size: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20rem;
	height: 20rem;
	background-color: white;
	border-radius: 50%;
	color: var(--dark);
}
.inner-circle {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.15);
	width: 18rem;
	height: 18rem;
	border-radius: 50%;
	transition: all 0.3s;
	cursor: default;
}
.inner-circle-hover {
	width: 30rem;
	height: 30rem;
}
